n8n-workflows/workflows/sources/wf-acled-conflict-events.json
{
  "name": "RiskEngine.ai - ACLED Conflict Events",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-400, 0],
      "parameters": {
        "schedule": {
          "interval": [
            {
              "every": 1,
              "unit": "hours"
            }
          ]
        }
      }
    },
    {
      "name": "Fetch ACLED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [-150, 0],
      "parameters": {
        "url": "https://api.acleddata.com/acled/read?limit=100",
        "method": "GET",
        "responseFormat": "json"
      }
    },
    {
      "name": "Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [100, 0],
      "parameters": {
        "functionCode": "return items[0].json.data.map(e => ({ json: { risk_type: \"conflict\", severity: e.fatalities > 0 ? 0.9 : 0.6, location: { lat: e.latitude, lon: e.longitude, radius_km: 30 }, start_time: e.event_date, end_time: null, text: `${e.event_type} - ${e.notes}`, source: \"ACLED\", external_id: e.event_id_cnty } }));"
      }
    },
    {
      "name": "HTTP Request - Risk Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [250, 0],
      "id": "http-sink-1",
      "parameters": {
        "url": "http://192.9.170.179:5678/webhook/risk-sink",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [[{ "node": "Fetch ACLED", "type": "main", "index": 0 }]]
    },
    "Fetch ACLED": {
      "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]]
    },
    "Normalize": {
      "main": [[{ "node": "HTTP Request - Risk Sink", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "active": true
}
