n8n-workflows/workflows/sources/wf-disaster-alert-ingestion.json
{
  "name": "RiskEngine.ai - Disaster Alert Ingestion",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-400, 0],
      "parameters": {
        "schedule": {
          "interval": [
            {
              "every": 30,
              "unit": "minutes"
            }
          ]
        }
      }
    },
    {
      "name": "Fetch Disasters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [-150, 0],
      "parameters": {
        "url": "https://api.pdc.org/v1/disasters",
        "method": "GET",
        "responseFormat": "json"
      }
    },
    {
      "name": "Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [100, 0],
      "parameters": {
        "functionCode": "return items[0].json.disasters.map(d => ({ json: { risk_type: d.hazard_type || \"disaster\", severity: d.severity || 0.6, location: { lat: d.latitude, lon: d.longitude, radius_km: d.impact_radius || 100 }, start_time: d.start_date, end_time: d.end_date || null, text: d.description, source: \"PDC\", external_id: d.id } }));"
      }
    },
    {
      "name": "HTTP Request - Risk Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [250, 0],
      "id": "http-sink-1",
      "parameters": {
        "url": "http://192.9.170.179:5678/webhook/risk-sink",
        "requestMethod": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "mode": "raw",
          "raw": "={{ JSON.stringify($json) }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [[{ "node": "Fetch Disasters", "type": "main", "index": 0 }]]
    },
    "Fetch Disasters": {
      "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]]
    },
    "Normalize": {
      "main": [[{ "node": "HTTP Request - Risk Sink", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "active": true
}
