n8n-workflows/workflows/core/wf-risk-sink.json
{
  "name": "RiskEngine.ai - Risk Sink (Outbox)",
  "nodes": [
    {
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "risk-sink",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "name": "Persist Raw Event (Outbox)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [-300, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "insert",
        "table": "risk_outbox",
        "columnsUi": {
          "column": [
            {
              "name": "source",
              "value": "={{$json.source || 'webhook'}}"
            },
            {
              "name": "payload",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        }
      }
    },
    {
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={\"status\": \"accepted\", \"message\": \"Risk event queued for processing\"}"
      }
    },
    {
      "name": "Trigger Async Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [300, 0],
      "parameters": {
        "workflowId": "wf-risk-outbox-processor",
        "options": {
          "waitForCompletion": false
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Persist Raw Event (Outbox)", "type": "main", "index": 0 }]]
    },
    "Persist Raw Event (Outbox)": {
      "main": [
        [{ "node": "Respond 200 OK", "type": "main", "index": 0 }],
        [{ "node": "Trigger Async Processor", "type": "main", "index": 1 }]
      ]
    }
  },
  "settings": {},
  "active": false
}
